* {
  margin:0;
  padding:0;
}

main {
  display : flex;
}

.img{
  background:#eee;
  width:400px;
  height:300px;
}

.samary {
  display:grid;
  grid-templete-rows:150px 150px;
  grid-templete-columns:150px 150px;
}

.key {
  background:rgba( 200,0,0,0.2);
  width:200px;
  
}

.value {
   background:rgba( 0,100,0,0.2);
}

.notes {
   background:rgba( 0,0,0,0.2);
}

.notes_text {
   background:rgba( 0,0,100,0.2);
}
